* {
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-weight: 700;
}

.nav-link {
    z-index: 1000;
    font-weight: 700;
    font-size: 18px;
    color: rgb(0, 0, 0) !important;
}

@media screen and (max-width: 1235px) {
    .nav-link {
        font-size: 16px;
    }
}

.nav-link:hover {
    color: #ff5d22 !important;
    transition: 0.4s;
}

.navbar-light .navbar-toggler {
    border: none;
    background-color: rgba(209, 209, 209, 0.55);
}

.close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: 0;
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    cursor: pointer;
    color: black;
    padding: 0.5rem 1.1rem;
    background: white;
    border-radius: 50%;
    outline: none;
}
.close:hover {
    background: #d8d8d8;
}

.search-box.search-elem {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.521);
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.search-box.search-elem .inner {
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
.search-box.search-elem label {
    color: white;
    font-weight: 300;
}
body.search-open {
    overflow: hidden;
}

.search-box.search-elem button.submit {
    outline: none;
    height: 60px;
    padding: 10px 2rem;
    background: #ff5d22;
    font-size: 1rem;
    color: white;
}

.search-box.search-elem input[type="text"] {
    padding: 20px;
    height: 60px;
    font-size: 28px;
    font-weight: 300;
    border: none;
    border-radius: 0;
    width: 70%;
}

@media screen and (max-width: 650px) {
    .small-12 {
        width: 70%;
    }
}

.search-box.search-elem label.placeholder {
    position: absolute;
    top: 10px;
    left: 2rem;
    font-size: 32px;
    font-weight: 300;
    color: rgb(184, 183, 183);
    transition: all 0.3s;
    cursor: auto;
    background: transparent;
}

.search-box.search-elem label.placeholder.move-up {
    top: -25px;
    color: white;
    font-size: 1rem;
}

.search-box.search-elem.search-open {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.search-btn {
    transition: 0.5s;
    font-size: 17px;
    padding: 0 10px;
}
.search-btn:hover {
    color: #ff5d22;
}

.small-12 {
    width: 100%;
}

.orange {
    font-weight: 600;
    color: white;
    background-color: #ff5d22;
}

.bg-banner {
    background-image: url(./images/banner-bg-2cdf97d16a302dfba382ada7daff6a6c.png);
    position: relative;
    background-color: #fff;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 250px;
}

.bg-banner .banner-info h1 {
    padding-top: 100px;
    font-weight: 700;
    font-size: 48px;
}

@media screen and (max-width: 650px) {
    .bg-banner .banner-info h1 {
        margin: 0 auto;
        text-align: center;
        font-size: 40px;
    }
    .bg-banner .banner-info p {
        text-align: center;
    }
    .btn {
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    position: absolute;
}

.dropdown-menu {
    transition: 0.3s;
    display: none;
    visibility: hidden;
    opacity: 0;
    border: none;
    background-color: transparent;
    border-radius: unset;
}

.drop-menu {
    line-height: 30px;
    background-color: white;
    padding-top: 3px;
    margin-top: 2px;
    border-top: 3px solid #ff5d22;
}

.dropdown-menu a {
    transition: 0.5s;
    font-weight: 600;
    font-size: 16px;
}

.dropdown-menu a:hover {
    background-color: transparent;
    color: #ff5d22;
}

@media (max-width: 991.5px) {
    .news .centr {
        margin-top: 48px;
    }
}

.bg-banner .banner-info p {
    font-weight: 300;
    font-size: 31px;
}

.card-direction {
    text-align: center;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    padding: 25px 10px;
    transition: 0.4s;
}

.card-direction:hover {
    border: 1px solid #ff5d22;
}

.card-direction h3 {
    margin-top: 20px;
    font-weight: 700;
    transition: 0.4s;
}
.card-direction h3:hover {
    color: #ff5d22;
}

.card-direction img {
    display: inline-block;
    transition: 0.5s;
}

.card-direction img:hover {
    transform: scale(1.5);
}

.partners {
    position: relative;
}

.partners .swiper-button-prev {
    position: absolute;
    top: 68%;
    left: 10px;
}

.partners .swiper-button-next {
    position: absolute;
    top: 68%;
    right: 10px;
}

.mySwiper1 {
    width: 100%;
    height: 100%;
}

.mySwiper1 .swiper-slide {
    height: auto;
    width: auto;
    background-color: #d1eaf5;
}
.mySwiper1 .swiper-slide h3 {
    font-weight: 700;
    font-size: 24px;
}
.mySwiper1 .swiper-slide p {
    font-weight: 400;
    font-size: 16px;
}

.bag-card .main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 0 15px;
    border-top: 1px solid #003056;
    border-left: 1px solid #003056;
}

.icon-swaper .swiper-slide {
    width: 100px;
    text-align: center;
}

.icon-swaper img {
    width: 100px;
}

.icon-card {
    padding: 0 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #003056;
    width: 100%;
    height: 200px;
    transition: 0.6s;
}

.icon-card:hover {
    background-color: #d1eaf58c;
}

.start:hover {
    background-color: #d1eaf58c;
}

.bottom {
    border-bottom: 1px solid black;
}

.swiper-pagination {
    bottom: -10px !important;
}

.icon-swaper {
    padding-bottom: 1px;
    position: relative;
}

.mySwiper2::after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4000;
    background-color: #fff !important;
}

.start {
    padding: 0 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    transition: 0.6s;
}

.icon-swaper .swiper-pagination {
    position: absolute;
    bottom: 14px !important;
}

.swiper-pagination-bullet {
    padding: 6px;
}

footer {
    padding: 140px 40px;
    background-color: #e8fdff;
}

footer h1 {
    font-weight: 700;
    font-size: 36px;
}

footer p {
    font-weight: 400;
    font-size: 24px;
}

.footer-link {
    list-style: none;
}

.footer-link a {
    font-size: 20px;
    line-height: 40px;
    color: black;
    transition: 0.4s;
}
.footer-link a:hover {
    color: #ff5d22 !important;
}

.news span {
    font-weight: 700;
    font-size: 22px;
    margin: 20px;
}

.news a {
    color: #58e9f7;
}

.news i {
    transition: 0.4s;
}

.news a:hover > i {
    padding-left: 5px;
}
.news a {
    display: table;
    margin-left: auto;
}

.news h2 {
    margin: 15px 0;
    font-weight: 700;
    font-size: 24px;
}

.news p {
    margin-left: 20px;
    font-size: 20px;
}

.head-bg {
    background: rgb(143, 228, 235);
    background: linear-gradient(90deg, rgb(244 254 255) 0%, rgba(255, 255, 255, 1) 98%);
}

.tab-content .swiper-slide {
    width: 100px;
    text-align: center;
}

.tab-content img {
    width: 100px;
}

.docs {
    background-color: #d1eaf5;
}
.docs a {
    font-weight: 700;
    font-size: 24px;
}

.brdr {
    color: black !important;
    border-bottom: 2px solid black;
    transition: 0.1s;
}

.brdr:hover {
    border-bottom: 3px solid black;
}

.app--btn {
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    height: 44px;
    padding: 0 25px;
    padding-right: 54px;
    border: 1px solid #ff5d22;
    border-right: 0;
    border-radius: 5px;
    background: linear-gradient(to left, white 50%, #ff5d22 50%) right;
    background-size: 200%;
    transition: 0.4s ease-out;
}

.app--btn a {
    color: black;
    transition: 0.4s ease-out;
}
.app--btn a:hover {
    color: white;
}
.app--btn:hover {
    color: white;
    background-position: left;
}

.app--btn i {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 44px;
    top: 0;
    bottom: -1px;
    right: -2px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #f0f0f0;
    background: #ff5d22;
}

.left-btn {
    position: relative;
    display: inline-block;
    height: 44px;
    letter-spacing: unset;
    font-weight: 500;
    font-size: 18px;
    border-right: 1px solid #ff5d22;
    padding-right: 25px;
    padding-left: 54px;
    background: linear-gradient(to right, white 50%, #ff5d22 50%) left;
    background-size: 200%;
    transition: 0.4s ease-out;
    border: 1px solid #ff5d22;
}

.right-btn {
    border: 1px solid #ff5d22;
    position: relative;
    display: inline-block;
    height: 44px;
    letter-spacing: unset;
    font-weight: 500;
    font-size: 18px;
    background: linear-gradient(to left, white 50%, #ff5d22 50%) right;
    background-size: 200%;
    transition: 0.4s ease-out;
    border-left: 1px solid #ff5d22;
    padding-left: 25px;
    padding-right: 54px;
}

.right-btn i {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 44px;
    top: 0;
    bottom: -1px;
    right: -2px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #f0f0f0;
    background: #ff5d22;
}

.left-btn i {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 44px;
    top: 0;
    bottom: -1px;
    left: -2px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #f0f0f0;
    background: #ff5d22;
}

.left-btn:hover {
    color: white;
    background-position: right;
}

.right-btn:hover {
    color: white;
    background-position: left;
}

.product-head {
    padding-right: 20px;
    font-size: 24px;
}

.change {
    font-size: 24px;
}
